.worktrees/
.assets
.docs
.env
.web
*.pyc
dist/
build/
*.egg-info/
*.egg
*.pycs
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.venv/
venv/
venv-http/
__pycache__/
poetry.lock
.pytest_cache/
botpy.log
nano.*.save
.DS_Store
uv.lock
*.log
workspace/sessions/*.jsonl

.nanobot/
workspace/memory/HISTORY.md
workspace/memory/MEMORY.md
.nanobots/
